* {
margin: 0;
padding:0;
box-sizing:border-box}


/*Remove at end*/
header,
footer,
main,
nav {
    background-color: steelblue;
    color: #fff;
    padding: 20px;
    border: black 1px solid;
}


/*********************************
Set page background
**********************************/

body {background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;}


/*********************************
Style Wrapper
**********************************/

.wrapper {
    margin: 20px auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    background-color: black;
    border-radius: 20px;
}


/******************************************
  Style Sliding HERO
******************************************/



/*********************************
  Style Header
********************************/
header {background-color: black; /*fix top nav so it is visable when scrolling*/
    box-shadow: 0 1px 6px 0 black;
    grid-column: 1/6;
    grid-row: 1/2;
    top: 0;
    left: 0;
    width: 100%;
    color: white;}
    
    
    .logo {display: inline-block;
    font-size: 30px;}





.slideshow-container{grid-column: 1/6;
        background-color: black;
        grid-row: 2/3;
}

.slideshow-container img {width: 100%;
height: auto;
object-fit: cover;}

nav {
        grid-column: 1/2;
        grid-row: 3/5;
    }

main {
    grid-column: 2/6;
    grid-row: 3/5;
}

footer {
    grid-column: 1/6;
    grid-row: 5/6;
}


/*********************************
  Style Navigation Bar
********************************/



/*********************************
  Style Login Logout Forms
********************************/

.login {background-color: red;
border: 3px solid white;
max-width: 70%;
margin:auto;
padding:2rem;
}
.login label{display: flex;}

.login input {
    display: flex;
    width: 100%;
    
margin: 20px;}

    .login fieldset {color: blue;
    text-align: center;}