<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if title %}
        <title> Django Blog - {{ title }}</title>
    {% else %}
        <title>My Blog Project</title>
    {% endif %} 
    <meta name="description" content="This is the Informarion you have submitted for the newsletter signup">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ham.css') }}">
  </head>

  <body>
    <wrapper class="wrapper">
      <header class="header">
        <a href="" class="logo">My Blog</a>
        <input class="menu-btn" type="checkbox" id="menu-btn">
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>
      </header>


    <section-one class="slideshow-container">
      <div class="mySlides fade">
        <img src="{{url_for ('static', filename='images/slider1.jpg')}}" alt="image one">
      </div>
      <div class="mySlides fade">
        <img src="{{url_for ('static', filename='images/slider2.jpg')}}" alt="image two">
      </div>
      <div class="mySlides fade">
        <img src="{{url_for ('static', filename='images/slider3.jpg')}}" alt="image three">
      </div>
      <div class="mySlides fade">
        <img src="{{url_for ('static', filename='images/slider4.jpg')}}" alt="image four">
      </div>
                
                <div class="dots" style="text-align:center">
                  <span class="dot"></span> 
                  <span class="dot"></span> 
                  <span class="dot"></span> 
                  <span class="dot"></span>
                </div>
    </section-one>
    


    <section class="sidebar">
      <div id="newsletterbox">
        <h1>Side Menu</h1>
          <nav class="navbar">
            <ul>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('create') }}">Create Post</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                
                {% endif %}   
            </ul>       
          </nav> 
      </div>
    </section>

              <section class="content">
                <div id="newsletterbox">
                  
                  {% block content %}
                  <h1>Blog Posts</h1>
                <ul>
                {% for post in posts %}
                    <li><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></li>
                {% endfor %}
               {% endblock %}
               </ul>
                                  
                      
                </div>
              </section>
    
                          <footer>
                          <div class="copyright-text">Copyright 2023 &copy; My <strong>Blog-</strong>  <i> All Rights Reserved</i></div>
                          </footer>
    </wrapper>
      
          <script src="{{url_for ('static', filename='js/slider.js')}}"></script>
          <script src="{{url_for ('static', filename='js/bmi.js')}}"></script>
          

    </body>
</html>