{% extends "grid.html" %}
    {% block content %}
    <h2>Title Statistics</h2>
    <p>Average title length: {{ average_length }} characters</p>
    <p>Maximum title length: {{ max_length }} characters</p>
    <p>Minimum title length: {{ min_length }} characters</p>
    <p>Total title length: {{ total_length }} characters</p>
    <p>Median title length: {{ median_length }} characters</p>

    <h2>Content Statistics</h2>
    <p>Average content length: {{ c_average_length }} characters</p>
    <p>Maximum content length: {{ c_max_length }} characters</p>
    <p>Minimum content length: {{ c_min_length }} characters</p>
    <p>Total content length: {{ c_total_length }} characters</p>
    <p>Median content length: {{ c_median_length }} characters</p>
    {% endblock content %}
